@model BlogExpert.Mvc.ViewModels.ComentarioViewModel

@{
    ViewData["Title"] = "Novo Comentário";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="CreateComentario">

            <vc:Summary></vc:Summary>
            <input type="hidden" asp-for="PostId" />
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <textarea asp-for="Descricao" class="form-control focus" rows="4">@Model.Descricao</textarea>
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
                <a class="btn btn-info" asp-action="Details" asp-route-id="@Model.PostId">Voltar</a>
            </div>
        </form>
    </div>
</div>
<hr />
<h2>Post de inclusão do comentário</h2>
<hr />
<partial name="_ListaPost" model="@Model.Post" />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
