@model BlogExpert.Mvc.ViewModels.PostViewModel

@{
    ViewData["Title"] = "Excluir Post";
}

<h1>@ViewData["Title"]</h1>


<vc:Summary></vc:Summary>

@if (Model != null && !string.IsNullOrEmpty(Model.Id.ToString()))
{
    <div>
        <h4>Esta ação será permanente!</h4>
        <hr />
        <partial name="_ListaPost" />
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Excluir" class="btn btn-danger" />
            <a class="btn btn-info" asp-action="Index">Voltar</a>
        </form>
    </div>
}
else
{
    <a class="btn btn-info" asp-action="Index">Voltar</a>
}