@model BlogExpert.Mvc.ViewModels.PostViewModel

@{
    ViewData["Title"] = "Detalhes do Post";
}

<h1>@ViewData["Title"]</h1>


<div>
    <h4>Informação somente leitura</h4>
    <hr />
    <partial name="_ListaPost"/>
</div>
<div>
    <a class="btn btn-info" asp-action="Index">Voltar</a>
</div>