@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<BlogExpert.Mvc.ViewModels.PostViewModel>

<vc:Summary></vc:Summary>
@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a class="btn btn-info" asp-action="Create">Novo post</a>
    </p>
}
@foreach (var post in Model)
{
    <partial name="_ListaPost" model="post" />
}



